# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\软件\term1-simulator-windows\FaceForensics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
